node_modules/
.idea/
parsers/extract/*
parsers/!extract/**/*.gitkeep
parsers/.tmp/
dist
dist-ssr
components.d.ts
.cache
src/components/*Test*.vue

### Comment next line to push images
src/assets/images/*/*
###
!src/assets/images/**/*.gitkeep