a {
  text-decoration: none;
  color: inherit;
  background-color: transparent;
}

.text-align--center {
  text-align: center;
}

.fade-enter-active {
  transition: opacity 0.25s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
